!.config/emacs/conf.org
!.config/emacs/early-init.el
!.config/emacs/init.el
!.gnupg/gpg-agent.conf
.config/emacs/*
.config/i3/local.conf
.config/mpv/watch_later
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/qsettings
.gnupg/*
