! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Colors
*background: #263238
*foreground: #EEFFFF
*fading: 8
*fadeColor: black
*cursorColor: #1ABB9B
*pointerColorBackground: #2B2C2B
*pointerColorForeground: #16A085
*color0: #222D31
*color8: #585858
*color1: #ab4642
*color9: #ab4642
*color2: #7E807E
*color10: #8D8F8D
*color3: #f7ca88
*color11: #f7ca88
*color4: #7cafc2
*color12: #7cafc2
*color5: #ba8baf
*color13: #ba8baf
*color6: #1ABB9B
*color14: #1ABB9B
*color7: #d8d8d8
*color15: #f8f8f8
