* {
    font-family: NerdFontoMono;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(00, 00, 00, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #808080;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #ff0000;
}

#mode {
    padding: 0 5px;
    background-color: #808080;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#tray {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}
